1)EXPLAIN ABOUT VARIABLES

A Variable in python is the name of a memory location that we used for storing data.
Variable is a name which is used to refer Memory Allocation.
Variable names can be a group of both the letters and digits But they have to begin with a letter or an underscores

In [20]:
#Examples for variables
apple = 120
banana = 60
print(apple)
print(banana)

120
60

2)RULES OF VARIABLES

    - A variable name must start with a letter or the undrscore character.
    - A variable name cannot start with a number.
    - A variable name can only contain alpha-numeric characters and underscore(A-z,0-9,_)
    - Variable names are case-sensitive (age,Age and AGE are three differnt variables)
    - A variable name cannot be any of the Python Keywords.

3)TYPES OF VARIABLES

There are two types of variables
1. Single Variables
2. Multi Variables

1. Single Variables:-

    Single variable is as simple as assigning a value to a variable name using the equal sign ('=')

In [27]:
#Example :-
apple = 120
print(apple)

120

2.Multi Variables:-

    Multi variables is as assigning values to multiple variables in a single statement.Python supporsts multiple assignment in several ways
There are two types in multi varibles

a.Multi Variables to Multi Values

b.Multi Variables to Single Values


a)Multi Variables to Multi Values:-

    Assigining multiple variables to multi values to allow on the python variable.

In [34]:
#Example Multi Variables to Multi Values
apple,banana,cherry = 120,60,80
print(apple)
print(banana)
print(cherry)

120
60
80


b)Multi Variables to Single Values:-

    Assigining multiple variables to Single values to allow on the python variable.

In [37]:
#Example multiple variables to Single values
apple=banana=cherry=90
print(apple)
print(banana)
print(cherry)

90
90
90

4)Ten examples of each and every types multi to multi, multi to single.

In [42]:
#Example for single variables
apple = 120
banana = -80
cherry = 90.8
date = 18.005
vignesh = 100
dinesh = 0.0089
akshith = 80.05
rishith = 15+2j
virat = 500
rohith = -1800

In [44]:
print(apple)
print(type(apple))

120
<class 'int'>

In [46]:
print(banana)
print(type(banana))

-80
<class 'int'>

In [48]:
print(cherry)
print(type(cherry))

90.8
<class 'float'>

In [50]:
print(date)
print(type(date))

18.005
<class 'float'>

In [52]:
print(vignesh)
print(type(vignesh))

100
<class 'int'>

In [54]:
print(dinesh)
print(type(dinesh))

0.0089
<class 'float'>

In [56]:
print(akshith)
print(type(akshith))

80.05
<class 'float'>

In [58]:
print(rishith)
print(type(rishith))

(15+2j)
<class 'complex'>

In [62]:
print(virat)
print(type(virat))

500
<class 'int'>

In [64]:
print(rohith)
print(type(rohith))

-1800
<class 'int'>

In [98]:
#Example for Multi Variables
rohith_sharma=45
ashish=jaiswal=64.0007
gill=jaydev=jadhav=77+1j
yuvraj=nithish=12
rahul=samson=shami=-11.5

In [100]:
print(rohith_sharma)
print(type(rohith_sharma))

45
<class 'int'>

In [102]:
print(ashish)
print(type(ashish))

64.0007
<class 'float'>

In [104]:
print(jaiswal)
print(type(jaiswal))

64.0007
<class 'float'>

In [106]:
print(gill)
print(type(gill))

(77+1j)
<class 'complex'>

In [108]:
print(jaydev)
print(type(jaydev))

(77+1j)
<class 'complex'>

In [110]:
print(jadhav)
print(type(jadhav))

(77+1j)
<class 'complex'>

In [112]:
print(yuvraj)
print(type(yuvraj))

12
<class 'int'>

In [114]:
print(nithish)
print(type(nithish))

12
<class 'int'>

In [116]:
print(rahul)
print(type(rahul))

-11.5
<class 'float'>

In [118]:
print(samson)
print(type(samson))

-11.5
<class 'float'>

In [120]:
print(shami)
print(type(shami))

-11.5
<class 'float'>