LIST

1) DEFINE ABOUT LIST WITH EXAMPLE

- List are used to store multiple items or collection of data in single variable
- List are mutable where we can modify elements in the list
- List are represented by "[ ]" (Square brackets)
- List items are started from 0 to infinty
- In List the elements are called as index they are in postive and negitive index
- The list in index value goes from 0 or -1 to n-1
- In list positive elements are start from left(0) to right(n)
- In list negitive elements are starts from right(-n) to left(-1)

2) CREATE 10 EXAMPLES FOR LIST FROM DIFFERENT DATA TYPES

In [34]:
#examples
#int
int=[1,23,34,54,67,88,95]
print("int=",int)

#float
float=[1.15,2.43,3.14,0.99,5.46,16.44]
print("float=",float)

#int and float
int_float=[14,3.14,4.56,78,98]
print("int_float=",int_float)

#complex
com=[3+14j,1+2j,1+1j,12+13j,3.14+2.56j,3.600+25j]
print("complex=",com)

#String
list=["python","java","c++","php","html","swift"]
print("list=",list)

#int_string
int_string=[404,"python",9,"Nine",330,909]
int_string=("int_string",int_string)

#Boolean
bool=[True,False,False,True,True]
print("Boolean=",bool)

fruits=["apple","banana","cherry","oranges","watermeloan"]
print("fruits=",fruits)

var=[24,"apple",3.14,True,False,4+5j,3.1+4.2j]
print("var=",var)

all=[24,3.14,"data_science",4+6j,True,False,"apple"]
print("all=",all)

int= [1, 23, 34, 54, 67, 88, 95]
float= [1.15, 2.43, 3.14, 0.99, 5.46, 16.44]
int_float= [14, 3.14, 4.56, 78, 98]
complex= [(3+14j), (1+2j), (1+1j), (12+13j), (3.14+2.56j), (3.6+25j)]
list= ['python', 'java', 'c++', 'php', 'html', 'swift']
Boolean= [True, False, False, True, True]
fruits= ['apple', 'banana', 'cherry', 'oranges', 'watermeloan']
var= [24, 'apple', 3.14, True, False, (4+5j), (3.1+4.2j)]
all= [24, 3.14, 'data_science', (4+6j), True, False, 'apple']

3)CREATE A LIST WITH 15 ELEMENTS

In [37]:
list = [10,20,30,40,50,60,70,80,90,100,110,120,130,140,150]

#Positive index
print("Index of 0 :",list[0])
print("Index of 3 :",list[3])
print("Index of 5 :",list[5])
print("Index of 10 :",list[10])
print("Index of 14 :",list[14])

#Negitive index
print("Index of -1 :",list[-1])
print("Index of -4 :",list[-4])
print("Index of -6 :",list[-6])
print("Index of -8 :",list[-8])
print("Index of -15 :",list[-15])

Index of 0 : 10
Index of 3 : 40
Index of 5 : 60
Index of 10 : 110
Index of 14 : 150
Index of -1 : 150
Index of -4 : 120
Index of -6 : 100
Index of -8 : 80
Index of -15 : 10

4) APPLY SLICING ON 15 ELEMENTS WITH POSITIVE AND NEGITIVE INDEX

In [49]:
#Slicing using positive index
print("Index of 0 to 15 :",list[0:14])
print("Index of 0 to 4 :",list[0:4])
print("Index of first 3 :",list[:3])
print("Index of 6 to end :",list[6:15])
print("Index of 50 :",list[:50])

#Slicing using Negitive index
print("Index of -10 to -4 :",list[-10:-4])
print("Index of -1 to -15 :",list[-0:-14])
print("Index of first -3 :",list[:-3])
print("Index of -6 to -5 :",list[-6:-5])
print("Index of -50 :",list[:-50])

Index of 0 to 15 : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
Index of 0 to 4 : [10, 20, 30, 40]
Index of first 3 : [10, 20, 30]
Index of 6 to end : [70, 80, 90, 100, 110, 120, 130, 140, 150]
Index of 50 : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]
Index of -10 to -4 : [60, 70, 80, 90, 100, 110]
Index of -1 to -15 : [10]
Index of first -3 : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
Index of -6 to -5 : [100]
Index of -50 : []

5)CONCATENATION LIST WITH FIVE EXAMPLE

In [75]:
#Concatenation  list
a= int + float
print(a)

b= float + com
print(b)

c= list + int_float
print(c)

d= var + bool
print(d)

e= fruits + all
print(e)

[1, 23, 34, 54, 67, 88, 95, 1.15, 2.43, 3.14, 0.99, 5.46, 16.44]
[1.15, 2.43, 3.14, 0.99, 5.46, 16.44, (3+14j), (1+2j), (1+1j), (12+13j), (3.14+2.56j), (3.6+25j)]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 14, 3.14, 4.56, 78, 98]
[24, 'apple', 3.14, True, False, (4+5j), (3.1+4.2j), True, False, False, True, True]
['apple', 'banana', 'cherry', 'oranges', 'watermeloan', 24, 3.14, 'data_science', (4+6j), True, False, 'apple']

6)REPITATION LIST  WITH FIVE EXAMPLES

In [78]:
#Repitation List
a = float * 5
print(a)

b = int*4
print(b)

c = int + float
d = c*3
print(d)

e = var *  5
print(e)

f= fruits * 4
print(f)

[1.15, 2.43, 3.14, 0.99, 5.46, 16.44, 1.15, 2.43, 3.14, 0.99, 5.46, 16.44, 1.15, 2.43, 3.14, 0.99, 5.46, 16.44, 1.15, 2.43, 3.14, 0.99, 5.46, 16.44, 1.15, 2.43, 3.14, 0.99, 5.46, 16.44]
[1, 23, 34, 54, 67, 88, 95, 1, 23, 34, 54, 67, 88, 95, 1, 23, 34, 54, 67, 88, 95, 1, 23, 34, 54, 67, 88, 95]
[1, 23, 34, 54, 67, 88, 95, 1.15, 2.43, 3.14, 0.99, 5.46, 16.44, 1, 23, 34, 54, 67, 88, 95, 1.15, 2.43, 3.14, 0.99, 5.46, 16.44, 1, 23, 34, 54, 67, 88, 95, 1.15, 2.43, 3.14, 0.99, 5.46, 16.44]
[24, 'apple', 3.14, True, False, (4+5j), (3.1+4.2j), 24, 'apple', 3.14, True, False, (4+5j), (3.1+4.2j), 24, 'apple', 3.14, True, False, (4+5j), (3.1+4.2j), 24, 'apple', 3.14, True, False, (4+5j), (3.1+4.2j), 24, 'apple', 3.14, True, False, (4+5j), (3.1+4.2j)]
['apple', 'banana', 'cherry', 'oranges', 'watermeloan', 'apple', 'banana', 'cherry', 'oranges', 'watermeloan', 'apple', 'banana', 'cherry', 'oranges', 'watermeloan', 'apple', 'banana', 'cherry', 'oranges', 'watermeloan']

7)MODIFICATION OF ELEMENTS IN A LIST OF ELEMENTS USING INDEX AND SLICING

In [115]:
print("slicing from 2 to 8",list[2:8])
print("slicing frist 8",list[:8])
print("slicing from  12 to end ",list[12:])
print("slicing total 15",list[:15])
print("slicing from 8 to 2",list[8:2])

#Modifying 10 with 160
list[0]=160
print("List = ",list)

list[15]=1500
print("List = ",list)

#Repalcing 20 and 30 with apple and banana
list[1:2]= "apple","banana"
print("List = ",list)

list[8:10]= "virat","kohili"
print("List = ",list)

slicing from 2 to 8 ['banana', 'banana', 'banana', 'banana', 30, 40]
slicing frist 8 [160, 'apple', 'banana', 'banana', 'banana', 'banana', 30, 40]
slicing from  12 to end  [90, 100, 110, 120, 1500, 1500, 150]
slicing total 15 [160, 'apple', 'banana', 'banana', 'banana', 'banana', 30, 40, 50, 60, 70, 80, 90, 100, 110]
slicing from 8 to 2 []
List =  [160, 'apple', 'banana', 'banana', 'banana', 'banana', 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 1500, 1500, 150]
List =  [160, 'apple', 'banana', 'banana', 'banana', 'banana', 30, 40, 50, 60, 70, 80, 90, 100, 110, 1500, 1500, 1500, 150]
List =  [160, 'apple', 'banana', 'banana', 'banana', 'banana', 'banana', 30, 40, 50, 60, 70, 80, 90, 100, 110, 1500, 1500, 1500, 150]
List =  [160, 'apple', 'banana', 'banana', 'banana', 'banana', 'banana', 30, 'virat', 'kohili', 60, 70, 80, 90, 100, 110, 1500, 1500, 1500, 150]

8)TYPES OF METHODS IN LIST

1. append():-

    - Adds an element at the end of the list
    - The append list can be represented by list.append()

In [136]:
#Example for append
list = [1,2,3]
list.append(4)
print(list)

list1 = [10,22,32]
list1.append("apple")
print(list1)

[1, 2, 3, 4]
[10, 22, 32, 'apple']

2. extend():-

   - Add the elements of a list( or any iterable) to the end of the current list
   - The extend list can be represented by list.extend()

In [145]:
#Example for extend
list2 = [23,33,45,22,76]
list1.extend(list2)
print(list1)

int = [12,13,14,15,16,17]
float = [13.2,34.6,54.6,78.6,88.8]
float.extend(int)
print(float)

[10, 22, 32, 'apple', 23, 33, 45, 22, 76, 23, 33, 45, 22, 76, 23, 33, 45, 22, 76]
[13.2, 34.6, 54.6, 78.6, 88.8, 12, 13, 14, 15, 16, 17]

3. Insert

   - Adds an element at the specified position
   - The insert list can be represented by list.insert()

In [156]:
#Example for insert
fruit = ["apple","cherry","orange","watermelon"]
fruit.insert(12,12)
print(fruit)

a=[1,2,3]
a.insert(1,9)
print(a)

['apple', 'cherry', 'orange', 'watermelon', 12]
[1, 9, 2, 3]

4. remove():-

    - Removes the item with the specified value
    - remove list is represented by list.remove()

In [161]:
#Example for remove
fruit = ["apple","cherry","orange","watermelon"]
fruit.remove("apple")
print(fruit)

a = [1,2,3,2,3,4]
a.remove(2)
print(a)

['cherry', 'orange', 'watermelon']
[1, 3, 2, 3, 4]

5. pop():-

   - pop list will removes the element at the specified position
   - pop list is represented by list.pop()

In [166]:
#Example for pop
india = ["virat","kohili","rohith","sharma"]
india.pop(3)
print(india)

lang = ["python","c++","java","r"]
lang.pop(-3)
print(lang)

['virat', 'kohili', 'rohith']
['python', 'java', 'r']

6. index():-

    - Returns the index of the first element withthe specified value
    - The index list is represnted by list.index()

In [177]:
#Example for index
india = ["virat","kohili","rohith","sharma"]
index = india.index("virat")
print(index)

lang = ["python","c++","java","r"]
index = lang.index("r")
print(index)

0
3

7. count():-

    - return the number of elements with specified value
    - count list can be represented by list.count()

In [186]:
#Example for count
india = ["virat","kohili","rohith","sharma"]
a = india.count("virat")
print(a)

a = [1,2,4,3,2,4,3,5,6,6,6,6]
b = a.count(6)
print(b)

1
4

8. sort():-

   - sorts the list in ascending order
   - sorting list can be represeted by list.sort()

In [15]:
#Example for sort
a = [1,2,4,3,2,4,3,5,6,6,6,6]
a.sort()
print("asceding order = ",a)

a.sort(reverse=True)
print("descinding order = ",a)


india = ["Virat","kohiLi","ROhith","sharma"]
india.sort()
print(india)

india.sort(reverse=True)
print(india)

asceding order =  [1, 2, 2, 3, 3, 4, 4, 5, 6, 6, 6, 6]
descinding order =  [6, 6, 6, 6, 5, 4, 4, 3, 3, 2, 2, 1]
['ROhith', 'Virat', 'kohiLi', 'sharma']
['sharma', 'kohiLi', 'Virat', 'ROhith']

9. reverse():-

    - reverse the order of the list in the list
    - reverse list can be represented by list.reverse()

In [6]:
#Example for reverse
a = [1,2,4,3,2,4,3,5,6,6,6,6]
a.reverse()
print(a)

india = ["Virat","kohiLi","ROhith","sharma"]
india.reverse()
print(india)

[6, 6, 6, 6, 5, 3, 4, 2, 3, 4, 2, 1]
['sharma', 'ROhith', 'kohiLi', 'Virat']

10. clear()

    - removes all the elements from the list and makes list empty
    - clear list can be reprsented with list.clear()

In [9]:
#example for clear
a = [1,2,4,3,2,4,3,5,6,6,6,6]
a.clear()
print(a)

india = ["Virat","kohiLi","ROhith","sharma"]
india.clear()
print(india)

[]
[]

11. copy():-

    - copy list will be copy the elements present in the list
    - copy list can be represented by list.copy

In [12]:
#Example for copy
india = ["virat","kohili","rohith","sharma"]
a = india.copy()
print(a)

a = [1,2,4,3,2,4,3,5,6,6,6,6]
b = a.copy()
print(b)

['virat', 'kohili', 'rohith', 'sharma']
[1, 2, 4, 3, 2, 4, 3, 5, 6, 6, 6, 6]