STRINGS

1) DEFINE ABOUT STRING

- String is a sequence of characters
- We use single quotes or double quotes to represent a string in the python
- We can perform String in various operations and use methods to manipulate and work with strings
- String is most commonly used data types and they are used to represent text
- The string class represented by "str"
- String can allow empty strings and space is also a charaters in strings

2. CREATE 10 EXAMPLES FOR STRING USING SINGLE AND DOUBLE QUOTES

In [110]:
#Example for Sting
a = 'Hello world'
print(a)

a1 = '12345'
print(a1)

b = "Python"
print(b)

b1= '3.224'
print(b1)

c = 'Data science'
print(c)

c1 = '234+442j'
print(c1)

d = "Data \n science"
print(d)

e = '12345'
print(e)

f = ""
print("Empty string \n",f)

g = " "
print("space in string \n",g)

h = "HYDERABAD TO VISAKAPATAM VIA SURYAPET,KHAMMAM,VIJYAWADA"
print(h*6)

i = "WELCOME  TO PYTHON PROGRAMMING LANGUAGE:) \n"
print(i*10)

j = 'WELCOME TO \n PYTHON PROGRAMMING LANGUAGE \n'
print(j*8)

k = """ This is
                an example for
                                triple quotes"""
print(k)

print(type(i))
print(type(j))
print(type(k))

Hello world
12345
Python
3.224
Data science
234+442j
Data
 science
12345
Empty string

space in string

HYDERABAD TO VISAKAPATAM VIA SURYAPET,KHAMMAM,VIJYAWADAHYDERABAD TO VISAKAPATAM VIA SURYAPET,KHAMMAM,VIJYAWADAHYDERABAD TO VISAKAPATAM VIA SURYAPET,KHAMMAM,VIJYAWADAHYDERABAD TO VISAKAPATAM VIA SURYAPET,KHAMMAM,VIJYAWADAHYDERABAD TO VISAKAPATAM VIA SURYAPET,KHAMMAM,VIJYAWADAHYDERABAD TO VISAKAPATAM VIA SURYAPET,KHAMMAM,VIJYAWADA
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)

WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE

 This is
                an example for
                                triple quotes
<class 'str'>
<class 'str'>
<class 'str'>

3)  CREATE A STRING 50 CHARACTER AND ACCESS USING INDEX AND SLICING

In [193]:
string = "There was never a night or a problem that could defect SUNRISE OR HOPE"
print(len(string))

#Indexing
print("1 character index 0 = ",string[0])
print("7 character index 6 = ",string[6])
print("15 character index 14 = ",string[14])
print("22 character index 21 = ",string[21])
print("70 character index 69 = ",string[69])
print("70 character index -1 = ",string[-1])
print("65 character index -5 = ",string[-5])
print("61 character index -9 = ",string[-9])
print("30 character index -40 = ",string[-40])
print("37 character index -33 = ",string[-33])

#Slicing
print("Slcing of first 12 characters = ",string[:10])
print("Slcing from 22 to 50 charater = ",string[23:50])
print("Slcing of last 15 characters = ",string[-15:])
print("Slcing of -28 to -5 = ",string[-28:-5])

70
1 character index 0 =  T
7 character index 6 =  w
15 character index 14 =  r
22 character index 21 =  h
70 character index 69 =  E
70 character index -1 =  E
65 character index -5 =
61 character index -9 =  E
30 character index -40 =  r
37 character index -33 =  t
Slcing of first 12 characters =  There was
Slcing from 22 to 50 charater =   or a problem that could de
Slcing of last 15 characters =  SUNRISE OR HOPE
Slcing of -28 to -5 =  could defect SUNRISE OR

4) EXPLAIN ABOUT STRING FORMAT:-

            String format are classified into three types they are

    1. Old Style Format(% operator)
    2. Format Method
    3. String Interpolation(f-string)

1. Old Style Foarmat(% operation)

    - Uses the % operator and placeholders

In [124]:
#Example for % opertor
name = "Vigneshwar"
age = 21
string = "My name is %s and i am %d years old" %(name, age)
print(string)

My name is Vigneshwar and i am 21 years old

2. Format Method

    - Uses the format() method with placeholder

In [127]:
#Example for format method
name = "Vigneshwar"
age = 21
string = "My name is {} and i am {} years old" .format(name, age)
print(string)

My name is Vigneshwar and i am 21 years old

3. String Interpolation(f-string)

    - f-string is used where expressions inside curly brackets { } are evaluted and replaced

In [130]:
#Example for f-string
name = "Vigneshwar"
age = 21
loc = "Shamshabad"
string = f"My name is {name} and I am {age} years old and I am from {loc}."
string1 = f"My name is {name} \n I am {age} years old \n I am from {loc}."
print(string)
print(string1)

My name is Vigneshwar and I am 21 years old and I am from Shamshabad.
My name is Vigneshwar
 I am 21 years old
 I am from Shamshabad.

5) EXPLAIN ABOUT STRING OPERATIONS

1. CONCATENATION

   - Combination of two or more strings

In [49]:
#Example for concatenation
str1 = "Python"
str2 = "Progrmming"
str3 = "Language"
print(str1+" "+str2+" "+str3)

Python Progrmming Language

2. REPETITION
    - Repeating a string in multiple lines

In [52]:
#Example for repetiton
line = "Welcome to Jupiter Notebook \n "
line1 = line*8
print(line1)

Welcome to Jupiter Notebook
 Welcome to Jupiter Notebook
 Welcome to Jupiter Notebook
 Welcome to Jupiter Notebook
 Welcome to Jupiter Notebook
 Welcome to Jupiter Notebook
 Welcome to Jupiter Notebook
 Welcome to Jupiter Notebook

3. INDEXING
   
    - Acessing individual characters in a string

In [63]:
#Example for Indexing
line = "Welcome to Jupiter Notebook \n "
print(line[11])
print(line[-4])

J
k

4. SLICING

   - Slice is a process of exracting a substring from a string

In [82]:
#Example for slicing
string = "The greatest sin is to think yourself weak"
print(string[4:15])
print(string[-2:])
print(string[:-15])
print(string[:39])

greatest si
ak
The greatest sin is to thin
The greatest sin is to think yourself w

6) EXPLAIN ABOUT STRING METHODS

1. len()

    - returns the length of a string

In [136]:
#example for len()
string = "Welcome to Jupiter notebook"
print(len(string))

27

2. lower()/upper()

   - conerts the string to lowercase or uppercase

In [141]:
#Example for lower()/upper()
name = "Vigneshwar"
print(name.upper())

name1 = "NANI"
print(name1.lower())

VIGNESHWAR
nani

3. strip()

   - Removes leading and trailing white spaces

In [146]:
#Example for strip()
name = "    Vigneshwar Reddy     "
print(name.strip())

Vigneshwar Reddy

4. replace()

    - Replace a substring with another substring

In [151]:
#Example for replace()
str1 = "My name is Vigneshwar Reddy"
str = str1.replace("Vigneshwar","Dinesh") #(one value,new value)
print(str)

My name is Dinesh Reddy

5. split()

   - splits the string into a list of substring

In [154]:
#Example for split()
str = "My name is Vigneshwar Reddy i am 21 years old"
print(str.split())

['My', 'name', 'is', 'Vigneshwar', 'Reddy', 'i', 'am', '21', 'years', 'old']

6. join()

   - jons a list of strin into a single string

In [159]:
#Example for join()
str = ['My', 'name', 'is', 'Vigneshwar', 'Reddy', 'i', 'am', '21', 'years', 'old']
join_str = " ".join(str)
print(join_str)
print(" ".join(str))

My name is Vigneshwar Reddy i am 21 years old
My name is Vigneshwar Reddy i am 21 years old