PYTHON LOOP STATEMENTS

In Python Loop Statements are classified into Two types

- while loop
- for loop

while loop:- 

- Python while loop is used to run a block code until a certain condition is met
- A while loop evalueate the condition
- If the condition evalution to True, the code inside the while loop is executed
- If not the the condition evaluated again
- This process continue until condition is false
- When condition evalute to false the loop stops

In [41]:
#Example for while loop
i=10
while i<=50:
    print(i)
    i=i+10

10
20
30
40
50

for loop:-

- The for loop is used for iterating over a sequence(that is either a list ,tuple,dictionary, string or range)
- Here value access each item of the sequence on each items
- The loop continue until we reach the last item in the sequence

In [44]:
#Example for loop on string
a="python"
for i in a:
    print(i)

p
y
t
h
o
n

In [46]:
#Example for loop on list
h=["A","B","C"]
for x in h:
    print(x)

A
B
C

In [48]:
#Example for tuple
tup=("hello","world","to","datascience")
for i in tup:
    print(i)

hello
world
to
datascience

In [50]:
#Example for loop on dictinary
dict = {"name":"vignesh","Age":22,"Loc":"Hyd"}
for key, value in dict.items():
    
    print(f"key is {key} and value is {value}")

key is name and value is vignesh
key is Age and value is 22
key is Loc and value is Hyd

1) Check Even or Odd

In [53]:
a=[1,2,3,4,5,6,7,8,9]

for i in a:
    if i %2 == 0:
        print(i,"Even")
    else:
        print(i,"odd")

1 odd
2 Even
3 odd
4 Even
5 odd
6 Even
7 odd
8 Even
9 odd

In [55]:
a=[1,2,3,4,5,6,7,8,9]
index = 0

while index < len(a):
    i = a[index]
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")
    index += 1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

2) Check Vote Eligible or not

In [58]:
#Vote Eligibile or not
age=[12,56,34,7,84,5]

for i in age:
    if i>=18:
        print(i,"Eligible to vode")
    else:
        print(i,"Not Eligible to vote")

12 Not Eligible to vote
56 Eligible to vode
34 Eligible to vode
7 Not Eligible to vote
84 Eligible to vode
5 Not Eligible to vote

In [60]:
age=[12,56,34,7,84,5]
index = 0

while index < len(age):
    n = age[index]
    if n >= 18:
        print(f"Age {n} is eligible")
    else:
        print(f"Age {n} is not eligible")
    index += 1

Age 12 is not eligible
Age 56 is eligible
Age 34 is eligible
Age 7 is not eligible
Age 84 is eligible
Age 5 is not eligible

3) Check leap year  or not

In [63]:
year=[2024,3000,2030,1999]
for i in year:
    if i % 4 == 0:
        print("year is a leap year")
    else:
        print("year is not leap year")

year is a leap year
year is a leap year
year is not leap year
year is not leap year

In [65]:
years=[2024,3000,2030,1999]
index = 0

while index < len(years):
    year = years[index]
    if year % 4 == 0 :
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")
    index += 1

2024 is a leap year.
3000 is a leap year.
2030 is not a leap year.
1999 is not a leap year.

4) Check list is Empty or not

In [68]:
#empty or not
list=[44,56,87]
for i in list:
    if not i:
        print("empty")
    else:
        print("not empty")

not empty
not empty
not empty

In [70]:
list = []
index = 0

while index == 0:
    print("empty")
    break

empty

5) Check palindrome or not

In [73]:
a = ("aha", "refer", 101, "teks")

for i in a:
    if str(i) == str(i)[::-1]:
        print(f"{i} is a palindrome")
    else:
        print(f"{i} is not a palindrome")

aha is a palindrome
refer is a palindrome
101 is a palindrome
teks is not a palindrome

In [75]:
a = ("aha", "refer", 101, "teks")
i = 0

while i < len(a):
    if str(a[i]) == str(a[i])[::-1]:
        print(f"{a[i]} is a palindrome")
    else:
        print(f"{a[i]} is not a palindrome")
    i += 1

aha is a palindrome
refer is a palindrome
101 is a palindrome
teks is not a palindrome

6) Calculate garde of a student

In [82]:
grades_input = input("Enter grades separated by commas: ")

# Split the string into individual grade strings and convert to integers
grades = [int(mark.strip()) for mark in grades_input.split(',')]

#Splitting the string into individual grade strings.
#Stripping whitespace from each grade string.

for mark in grades:
    if mark >= 90:
        print(f"{mark}: A")
    elif mark >= 80:
        print(f"{mark}: B")
    elif mark >= 70:
        print(f"{mark}: C")
    elif mark >= 60:
        print(f"{mark}: D")
    elif mark >= 50:
        print(f"{mark}: E")
    else:
        print(f"{mark}: F")

Enter grades separated by commas:  43

43: F

In [84]:
grades_input = input("Enter grades separated by commas: ")
grades = [int(mark.strip()) for mark in grades_input.split(',')]
#Splitting the string into individual grade strings.
#Stripping whitespace from each grade string.

index = 0

while index < len(grades):
    mark = grades[index]
    if mark >= 90:
        print(f"{mark}: A")
    elif mark >= 80:
        print(f"{mark}: B")
    elif mark >= 70:
        print(f"{mark}: C")
    elif mark >= 60:
        print(f"{mark}: D")
    elif mark >= 50:
        print(f"{mark}: E")
    else:
        print(f"{mark}: F")
    
    index += 1  # Move to the next index

Enter grades separated by commas:  90

90: A

7) Find smallest amnog three numbers

In [88]:
smallest = float('inf')

for i in range(3):
    num = int(input(f"Enter number {i + 1}: "))
    if num < smallest:
        smallest = num  

print(f"The smallest number is: {smallest}")

Enter number 1:  90
Enter number 2:  91
Enter number 3:  90

The smallest number is: 90

In [90]:
smallest = float('inf')
count = 0

while count < 3:
    num = int(input("Enter a number: "))
    if num < smallest:
        smallest = num
        
    count += 1 

print(f"The smallest number is: {smallest}")

Enter a number:  90
Enter a number:  90
Enter a number:  90

The smallest number is: 90

8) Find second largest number in a list

In [92]:
my_list = [2, 5,8,10]
largest = second_largest = 0

for num in my_list:
    if num > largest:
        second_largest = largest
        largest = num
    else:
        second_largest = num

print(second_largest)

8

In [94]:
my_list = [1, 2,5,6]
largest = second_largest = 0
index = 0

while index < len(my_list):
    num = my_list[index]
    if num > largest:
        second_largest = largest
        largest = num
    else:
        second_largest = num
    
    index += 1
print(second_largest)

5

9) Calculate Body Mass index and categorize it

In [97]:
n=0
weight = float(input("Enter weight (kgs): "))
height = float(input("Enter height (feets): "))
h1=height * 0.3048
for n in range(1):  # Loop runs only once
    bmi = weight / (h1 ** 2)
    if bmi < 18.5:
        category = "Underweight"
    elif 18.5 <= bmi < 24.9:
        category = "Normal weight"
    elif 25 <= bmi < 29.9:
        category = "Overweight"
    else:
        category = "Obesity"
    print(f"Weight: {weight} kg, Height: {height} feet, Category: {category}")

Enter weight (kgs):  90
Enter height (feets):  6

Weight: 90.0 kg, Height: 6.0 feet, Category: Overweight

In [99]:
weight = float(input("Enter weight (kg): "))
height = float(input("Enter height (feets): "))
h1= height*0.3048
index = 0

while index < 1:  # Loop will run only once
    bmi = weight / (h1 ** 2)

    if bmi < 18.5:
        category = "Underweight"
    elif 18.5 <= bmi < 24.9:
        category = "Normal weight"
    elif 25 <= bmi < 29.9:
        category = "Overweight"
    else:
        category = "Obesity"
    print(f"Weight: {weight} kg, Height: {height} feets, Category: {category}")
    index += 1

Enter weight (kg):  80
Enter height (feets):  6

Weight: 80.0 kg, Height: 6.0 feets, Category: Normal weight

10) find person age belong to which group

In [101]:
i = 0
age = int(input("Enter your age: "))
for i in range(1): 
    if age <= 22:
        print(f"Age {age} is School group")
    elif age > 22 and age <= 50:
        print(f"Age {age} is Work group")
    else:
        print(f"Age {age} is  Retire group")

Enter your age:  90

Age 90 is  Retire group

In [103]:
age = int(input("Enter your age: "))
count = 0

while count < 1:
    if age <= 22:
        print(f"Age {age}: School group")
    elif age > 22 and age <= 50:
        print(f"Age {age}: Work group")
    else:
        print(f"Age {age}: Retire group")
    
    count += 1

Enter your age:  65

Age 65: Retire group