1) Define Sets

- A set is a unordered collection od unique items
- They are defined using curly braces {} and seperated by commas
- They are mutable and do not allow duplicate items in it
- we can also perform varous opertions like union, intersection etc in sets

2) Example of Sets

- a ={12,23,54,55,1,22,900,33}
- fruits = {"apple","banana","cherry"}
- float = {1.2,2.33,3.18,0.99}
- int={-11,-22,0,444,9879}
- bool={"True","False"}
- cricket={"virat","rohith","surya"}
- a= {"data","science","teks","acadamy"}

3) Convert One type to another set

In [9]:
a =(12,23,54,55,1,22,900,33)
b=set(a)
print(b)
print(type(b))

{1, 33, 900, 12, 23, 54, 55, 22}
<class 'set'>

In [11]:
a= ("data","science","teks","acadamy")
b=set(a)
print(b)
print(type(b))

{'teks', 'science', 'data', 'acadamy'}
<class 'set'>

In [13]:
fruits = {"apple","banana","cherry"}
print(fruits)
print(type(fruits))

{'apple', 'banana', 'cherry'}
<class 'set'>

4) Adding and Updating Sets

In [16]:
a={12,23,54,55,1,22,900,33}
print(a)
a.add(77,)
print("updated:",a)

{1, 33, 900, 12, 55, 54, 23, 22}
updated: {1, 33, 900, 12, 77, 55, 54, 23, 22}

In [18]:
data= {"data","science","teks","acadamy"}
data.add("hitech")
print(data)

{'acadamy', 'hitech', 'science', 'data', 'teks'}

In [36]:
cricket={"virat","rohith","surya"}
cricket.add("kohili")
print(cricket)

{'virat', 'kohili', 'rohith', 'surya'}

In [38]:
fruits = {"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [40]:
num= {1,2,3,4,5,6,7,8}
int={23.09,11,45.87,3.67}
num.update(int)
print(num)

{1, 2, 3, 4, 5, 6, 7, 8, 3.67, 11, 45.87, 23.09}

5) Removing elements from sets

In [43]:
fruits = {"apple","banana","cherry"}
fruits.discard("cherry")
print(fruits)

{'apple', 'banana'}

In [45]:
cricket={"virat","rohith","surya"}
cricket.discard("surya")
print(cricket)

{'virat', 'rohith'}

In [47]:
num= {1,2,3,4,5,6,7,8}
num.discard(5)
print(num)

{1, 2, 3, 4, 6, 7, 8}

6) Set Operations

In [50]:
# union- It combines elements in two sets
num= {1,2,3,4,5,6,7,8}
int={23.09,11,45.87,3.67}
print(num.union(int))

{1, 2, 3, 4, 5, 6, 7, 8, 3.67, 11, 45.87, 23.09}

In [52]:
veg={"carrot"," brinjal", "ladysfinger","tomato"}
new_veg={"beetroot"," cauliflower", "garlic","onion"}
print(new_veg|veg)

{'onion', 'beetroot', 'garlic', ' cauliflower', 'ladysfinger', 'tomato', 'carrot', ' brinjal'}

In [54]:
# intersection- It returns the elements which are common in two sets
old={1, 4, 3, 23, 78, 22,}
updated= {1, 4, 5, 6, 45, 78, 22, 90}
print(old.intersection(updated))

{1, 4, 22, 78}

In [58]:
a={23,4,78,90,22,22,1,22,5,6,1, 4, 90, 34, 4, 90, 22}
b={23,14,8,100,1,5, 54, 90, 22}
print(a&b)

{1, 5, 22, 23, 90}

In [60]:
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
print(mixed&mixed_new)

{23}

In [62]:
# difference- returns the elements which are presnt in the first set but not in the second,
a={23,4,78,90,22,22,1,22,5,6,1, 4, 90, 34, 4, 90, 22}
b={23,14,8,100,1,5, 54, 90, 22}
print(a-b)

{78, 34, 4, 6}

In [64]:
old={1, 4, 3, 23, 78, 22,}
updated= {1, 4, 5, 6, 45, 78, 22, 90}
print(old.difference(updated))

{3, 23}

In [66]:
d= {23.09, 12, 89,31.4, 80,97.3}
c= { 12,80,21.67,0.78}
print(c-d)

{0.78, 21.67}

In [68]:
#set symmetric difference- It returns the  elemnets that are ineither of the sets but not in both
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
print(mixed^mixed_new)

{34.9, 1000, 'false ', 'iddu', 'none'}

In [70]:
old={1, 4, 3, 23, 78, 22,}
updated= {1, 4, 5, 6, 45, 78, 22, 90}
print(old.symmetric_difference(updated))

{3, 5, 6, 45, 23, 90}

In [72]:
veg={"carrot"," onion", "ladysfinger","tomato"}
new={"beetroot"," tomato","onion"}
print(veg.symmetric_difference(new))
print(veg^new)

{' onion', ' tomato', 'onion', 'beetroot', 'ladysfinger', 'tomato', 'carrot'}
{' onion', ' tomato', 'onion', 'beetroot', 'ladysfinger', 'tomato', 'carrot'}

7) Methods in sets

1) ADD

In [76]:
#example
data= {12, 45, 23.4, 98}
data.add(21.3)
print(data)

{98, 12, 45, 21.3, 23.4}

2) CLEAR

In [79]:
old={1, 4, 3, 23, 78, 22,}
old.clear()
print(old)

set()

3) COPY

In [82]:
#example
c= { 12,80,21.67,0.78}
c.copy()
print(c)

{80, 0.78, 12, 21.67}

4) DIFFERENCE

In [85]:
#example
a={23,4,78,90,22,22,1,22,5,6,1, 4, 90, 34, 4, 90, 22}
b={23,14,8,100,1,5, 54, 90, 22}
print(a-b)

{78, 34, 4, 6}

5) DIFFERENCE_UPDATE

In [90]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.difference_update(b)
print(a)

{1, 2}

6) DISCARD-(REMOVE)

In [97]:
#example
new_vegetables={"beetroot"," cauliflower", "garlic","onion"}
removed=new_vegetables.discard("onion")
print(new_vegetables)

{'beetroot', 'garlic', ' cauliflower'}

7) INTERSECTION_UPDATE

In [101]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.intersection_update(b)
print(a)

{3, 4, 7}

9) UNION

In [106]:
num= {1,2,3,4,5,6,7,8}
int={23.09,11,45.87,3.67}
print(num.union(int))

{1, 2, 3, 4, 5, 6, 7, 8, 3.67, 11, 45.87, 23.09}

10) UPDATE

In [109]:
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
mixed.update(mixed_new)
print(mixed)

{34.9, 23, 'iddu', 1000, 'none', 'false '}

11) REMOVE

In [112]:
x={"music", "dance","art","roleplay","writing","acting"}
x.remove("music")
print(x)

{'acting', 'art', 'roleplay', 'writing', 'dance'}

12) SYMMENTRIC DIFFERENE

In [120]:
# example
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
print(mixed^mixed_new)

{34.9, 1000, 'false ', 'iddu', 'none'}

13) SYMMENTRIC_DIFFERENE_UPDATE

In [125]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.symmetric_difference_update(b)
print(a)

{1, 2, 5, 6}

14) POP

In [130]:
x={"music", "dance","art","roleplay","writing","acting"}
x.pop()
print(x)

{'art', 'roleplay', 'writing', 'dance', 'music'}

15) isdisjoint